#Ignora mis ejercicios de clase
Ejercicios

#Ignora mis herramientas de programacion
.cache
dist
/node_modules
                                         
#Ignora mis archivos binarios
#*.mp4 --En Proceso--